# <font color='blue'>ALPAR - Projeto SEDES - Criação de uma Tabela de Municípios do Maranhão</font>

# <font color='red'>1. IMPORT</font>

In [1]:
import pandas as pd
import numpy as np
import copy
import csv
import codecs
import random as rd
import string
import timestring as ts
import datetime as dt
from dateutil.relativedelta import relativedelta

print("pandas versão", pd.__version__)
print("numpy versão", np.__version__)
print("csv versão", csv.__version__)
print("csv timestring", ts.__version__)

pd.options.display.max_rows = 2000

pandas versão 1.2.4
numpy versão 1.20.2
csv versão 1.0
csv timestring 1.6.2

# <font color='red'>2. EXTRACT</font>

In [2]:
# abrindo os arquivos...
caminho_in =  '../arquivos_uteis/'
caminho_out = '../dw_csv/'

df_tb_municipios =           pd.read_csv(caminho_in + "caso_full.csv",                sep = ',', dtype = str)
df_tb_sis_rede_SUAS =        pd.read_csv(caminho_in + "tab_sis_rede_SUAS.csv",        sep = ',', dtype = str)
df_tb_grupo_protecao =       pd.read_csv(caminho_in + "tab_grupo_protecao.csv",       sep = ',', dtype = str)
df_tb_acoes_VS =             pd.read_csv(caminho_in + "tab_acoes_VS.csv",             sep = ',', dtype = str)
df_tb_atividades_CS =        pd.read_csv(caminho_in + "tab_atividades_CS.csv",        sep = ',', dtype = str)
df_tb_instr_gestao =         pd.read_csv(caminho_in + "tab_instr_gestao.csv",         sep = ',', dtype = str)
df_tb_capac_area =           pd.read_csv(caminho_in + "tab_capac_area.csv",           sep = ',', dtype = str)
df_tb_capac_prof =           pd.read_csv(caminho_in + "tab_capac_prof.csv",           sep = ',', dtype = str)
df_tb_area_essencial =       pd.read_csv(caminho_in + "tab_area_essencial.csv",       sep = ',', dtype = str)
df_tb_tipo_organizacao_ppa = pd.read_csv(caminho_in + "tab_tipo_organizacao_ppa.csv", sep = ',', dtype = str)
df_tb_orgao_gestor =         pd.read_csv(caminho_in + "tab_orgao_gestor.csv",         sep = ',', dtype = str)

print("df_tb_municipios - linhas = %s , colunas = %s " % df_tb_municipios.shape)
print("df_tb_sis_rede_SUAS - linhas = %s , colunas = %s " % df_tb_sis_rede_SUAS.shape)
print("df_tb_grupo_protecao - linhas = %s , colunas = %s " % df_tb_grupo_protecao.shape)
print("df_tb_acoes_VS - linhas = %s , colunas = %s " % df_tb_acoes_VS.shape)
print("df_tb_atividades_CS - linhas = %s , colunas = %s " % df_tb_atividades_CS.shape)
print("df_tb_instr_gestao - linhas = %s , colunas = %s " % df_tb_instr_gestao.shape)
print("df_tb_capac_area - linhas = %s , colunas = %s " % df_tb_capac_area.shape)
print("df_tb_capac_prof - linhas = %s , colunas = %s " % df_tb_capac_prof.shape)
print("df_tb_area_essencial - linhas = %s , colunas = %s " % df_tb_area_essencial.shape)
print("df_tb_tipo_organizacao_ppa - linhas = %s , colunas = %s " % df_tb_tipo_organizacao_ppa.shape)
print("df_tb_orgao_gestor - linhas = %s , colunas = %s " % df_tb_orgao_gestor.shape)

df_tb_municipios - linhas = 1517392 , colunas = 18
df_tb_sis_rede_SUAS - linhas = 8 , colunas = 1
df_tb_grupo_protecao - linhas = 4 , colunas = 1
df_tb_acoes_VS - linhas = 7 , colunas = 1
df_tb_atividades_CS - linhas = 4 , colunas = 1
df_tb_instr_gestao - linhas = 6 , colunas = 1
df_tb_capac_area - linhas = 4 , colunas = 1
df_tb_capac_prof - linhas = 4 , colunas = 1
df_tb_area_essencial - linhas = 4 , colunas = 1
df_tb_tipo_organizacao_ppa - linhas = 2 , colunas = 1
df_tb_orgao_gestor - linhas = 12 , colunas = 1

# <font color='red'>3. TRANSFORM</font>

## <font color='black'>3.0. parametros</font>

In [3]:
# intervalo possível de data inicial de vigência e data final de vigência
p1 = ((1, 6), (80, 110)) # ((min dias a partir periodo, max dias a partir periodo), (min período vigência, max período vigência))

# documento anexado
p2 = (3, 7)

## <font color='black'>3.1. tabela tb_municipios</font>

In [4]:
# tabela de municípios do maranhão
lst_col = ['city', 'city_ibge_code', 'estimated_population', 'state']
df_tb_municipios = df_tb_municipios.loc[(df_tb_municipios['state'] == 'MA') & (~df_tb_municipios['city'].isna()), lst_col].drop_duplicates()
df_tb_municipios.reset_index(drop=True, inplace=True)
df_tb_municipios['PK_municipio'] = df_tb_municipios.index
df_tb_municipios.rename(columns={'city': 'nome_municipio', 'estimated_population': 'pop_municipio'}, inplace=True)
df_tb_municipios = df_tb_municipios[['PK_municipio', 'nome_municipio', 'pop_municipio']]

df_tb_municipios.head()

   PK_municipio       nome_municipio pop_municipio
0             0             São Luís       1108975
1             1           Açailândia        113121
2             2           Imperatriz        259337
3             3       Paço do Lumiar        123747
4             4  São José de Ribamar        179028

## <font color='black'>3.2. tabela tb_sis_rede_SUAS</font>

In [5]:
df_tb_sis_rede_SUAS

                                  sistemas_rede_suas
0                                           CAD SUAS
1                                                RMA
2                                               SISC
3                                              E-PCF
4                                            SIMPETI
5                                  Plano de Ação SAA
6  Demonstrativo Sintético de Execução Físico Fin...
7  Alimentação da Plataforma Estadual de Monitora...

## <font color='black'>3.3. tabela df_tb_grupo_protecao</font>

In [6]:
df_tb_grupo_protecao

                      grupos_de_protecao
0  Gestão (Vigilância Socioassistencial)
1          Proteção Social Básica (CRAS)
2       Proteção Social Especial (CREAS)
3                                 Outros

## <font color='black'>3.4. tabela df_tb_acoes_VS</font>

In [7]:
df_tb_acoes_VS

                                         acoes_de_VS
0     levanta dados no território/equipamento da PAS
1                           analisa dados levantados
2              sistematiza dados e produz relatórios
3                    dissemina dados e/ou relatórios
4               realiza diagnóstico socioterritorial
5  realiza monitoramento sistemático dos serviços...
6  realiza reuniões com as equipes responsáveis p...

## <font color='black'>3.5. tabela df_tb_atividades_CS</font>

In [8]:
df_tb_atividades_CS

                            atividades_CS
0        Reuniões extraordinárias do CEAS
1             Reuniões ordinárias do CEAS
2             Resoluções emitidas do CEAS
3  Reuniões técnicas realizadas pelo CEAS

## <font color='black'>3.6. tabela df_tb_instr_gestao</font>

In [9]:
nm = {'index':'PK_instr_gestao', 'instrumentos_de_gestão': 'nome_instr_gestao'}
df_tb_instr_gestao = df_tb_instr_gestao.reset_index().rename(columns=nm)

df_tb_instr_gestao

   PK_instr_gestao                               nome_instr_gestao
0                0             Plano Decenal de Assistência Social
1                1           Plano Municipal de Assistência Social
2                2                    Diagnóstico Socioterritorial
3                3  Plano Municipal de Educação Permanente do SUAS
4                4       Relatório de Gestão do exercício anterior
5                5                   Lei de Regulamentação do SUAS

## <font color='black'>3.7. tabela df_tb_capac_area</font>

In [10]:
df_tb_capac_area

           capacitacao_area
0            Gestão do SUAS
1    Proteção Social Básica
2  Proteção Social Especial
3           Controle Social

## <font color='black'>3.8. tabela df_tb_capac_prof</font>

In [11]:
df_tb_capac_prof

          capacitacao_profissional
0                           Gestor
1  Trabalhadores de nível superior
2     Trabalhadores de nível médio
3                     Conselheiros

## <font color='black'>3.9. tabela df_tb_area_essencial</font>

In [12]:
df_tb_area_essencial

                                    areas_essenciais
0                                 Gestão do Trabalho
1                             Proteção Social Básica
2                           Proteção Social Especial
3  Gestão do SUAS com competência da vigilância s...

## <font color='black'>3.10. tabela df_tb_tipo_organizacao_ppa</font>

In [13]:
df_tb_tipo_organizacao_ppa

                                tipo_organizacao_PPA
0     Por programas (serviços projetos e benefícios)
1  Por nível de proteção social (gestão proteção ...

## <font color='black'>3.10. tabela df_tb_orgao_gestor</font>

In [14]:
df_tb_orgao_gestor

              orgao_gestor
0   Orgão Gestor da PAS 01
1   Orgão Gestor da PAS 02
2   Orgão Gestor da PAS 03
3   Orgão Gestor da PAS 04
4   Orgão Gestor da PAS 05
5   Orgão Gestor da PAS 06
6   Orgão Gestor da PAS 07
7   Orgão Gestor da PAS 08
8   Orgão Gestor da PAS 09
9   Orgão Gestor da PAS 10
10  Orgão Gestor da PAS 11
11  Orgão Gestor da PAS 12

## <font color='black'>3.11. tabela df_tb_mum_form</font>

In [15]:
# cria um range de datas de referências históricas
N_MESES_ANTERIORES = -24

hoje = dt.date.today()
data_final = dt.date(hoje.year, hoje.month, 1)
data_inicial = data_final + relativedelta(months=N_MESES_ANTERIORES)

print("Hoje:", data_final)
print("Data Inicial:", data_inicial)

dt_aux = data_final; lst_dt = []
while dt_aux > data_inicial:
    lst_dt.append(dt_aux)
    dt_aux = dt_aux + relativedelta(months=-1)
df_dt = pd.DataFrame(lst_dt, columns=['df_ref'])

df_tb_mun_form = df_tb_municipios.merge(df_dt, how='cross')

Hoje: 2021-06-01
Data Inicial: 2019-06-01

## <font color='black'>3.10. tabela as_mun_instr_gestao</font>

In [16]:
# faz o cunjunto base
df_tmp = df_tb_mun_form[['PK_municipio', 'df_ref']].copy()

In [17]:
# seleciona somente os meses de 1o semestre e 2o semestre
df_tmp = df_tmp[df_tmp['df_ref'].apply(lambda x: x.month == 1 or x.month == 7)]

In [18]:
# sorteia quantos instrumentos de gestão terão cada municipio/dt_ref em cada semestre
min_instr = 0; max_instr = df_tb_instr_gestao.shape[0]

lst_tmp = []
for i, linha in df_tmp.iterrows():
    n_instr = rd.randint(min_instr, max_instr)
    for k in range(n_instr):
        lst_tmp.append([linha[0], linha[1], k])

In [19]:
# cria a tabela as_mun_instr_gestao
col = ['FK_municipio', 'df_ref', 'FK_instr_gestao']
df_as_mun_instr_gestao = pd.DataFrame(lst_tmp, columns=col)
df_as_mun_instr_gestao

      FK_municipio      df_ref  FK_instr_gestao
0                0  2021-01-01                0
1                0  2021-01-01                1
2                0  2021-01-01                2
3                0  2021-01-01                3
4                0  2021-01-01                4
...            ...         ...              ...
2602           216  2020-07-01                0
2603           216  2020-01-01                0
2604           216  2019-07-01                0
2605           216  2019-07-01                1
2606           216  2019-07-01                2

[2607 rows x 3 columns]

In [20]:
# gera as datas iniciais e finais de vigência
for i, linha in df_as_mun_instr_gestao.iterrows():
    ini_tmp = rd.randint(p1[0][0], p1[0][1])
    dias_tmp = rd.randint(p1[1][0], p1[1][1])
    dt_ini = df_as_mun_instr_gestao.loc[i, 'df_ref'] + relativedelta(days=ini_tmp)
    dt_fim = dt_ini + relativedelta(days=dias_tmp)

    df_as_mun_instr_gestao.loc[i, 'ini_vigencia'] = dt_ini
    df_as_mun_instr_gestao.loc[i, 'fim_vigencia'] = dt_fim
    df_as_mun_instr_gestao.loc[i, 'doc_anexado'] = rd.choices([True, False], p2, k =1)[0]

In [21]:
df_as_mun_instr_gestao

,FK_municipio,df_ref,FK_instr_gestao,ini_vigencia,fim_vigencia,doc_anexado
0,0,2021-01-01,0,2021-01-06,2021-03-27,False
1,0,2021-01-01,1,2021-01-04,2021-04-22,True
2,0,2021-01-01,2,2021-01-07,2021-03-29,False
3,0,2021-01-01,3,2021-01-03,2021-04-21,True
4,0,2021-01-01,4,2021-01-05,2021-04-01,False
...,...,...,...,...,...,...
2602,216,2020-07-01,0,2020-07-05,2020-10-08,False
2603,216,2020-01-01,0,2020-01-06,2020-04-16,False
2604,216,2019-07-01,0,2019-07-03,2019-10-08,True
2605,216,2019-07-01,1,2019-07-04,2019-10-22,False
2606,216,2019-07-01,2,2019-07-03,2019-10-07,False

# <font color='red'>4. WRITE</font>

In [26]:
df_tb_municipios.shape

(217, 3)

In [30]:
df_tb_municipios.to_csv      (caminho_out + 'tb_municipios.csv',       index=False)
df_as_mun_instr_gestao.to_csv(caminho_out + 'as_mun_instr_gestao.csv', index=False)
df_tb_mun_form.to_csv        (caminho_out + 'tb_mun_form.csv',         index=False)